
body {    font-family: "Inter";    font-size: 14px;}
header { 
    padding: 16px 24px !important;
    min-height: 74px !important;
    position: fixed !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

}
.head-right-search{
    background: #F4F5F5;
    border-radius: 8px;
    padding: 8.54px 12.81px 8.54px 12.81px;
}
.head-right-search input {
    border: none;
    background: none;
}
.head-right-user{
    position: relative;
    top: 9px;

}
.head-right-user h3 {
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}
.head-right-user small{
    color:#6C757D;
    font-size: 12px;
    list-style:15px;
}
.pcoded-header .navbar-nav > li:last-child {
    padding-right: 10px !important;
}
.pcoded-header .ml-auto {
    position: relative;
    top: -3px;
}
.pcoded-main-container {
    margin-top: 80px !important;
}
.selectcustom select {
    width: 160px; border-radius: 8px;
    padding: 8px 16px;
    height: 48px !important;
    background: none;
    font-size: 16px;
    line-height: 20px;
    color: #1565C0;
    appearance: auto;
    font-weight: 600;
    border: 1px solid #1565c0;
}
.selectcustom .filter {
    width: 103px;
}
.card-social {
    border-radius: 16px !important;
    border: 1px solid #FDFDFD !important;
    padding: 16px;
}
.alert-list{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.alert-list-text h4{
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #212121;
}
.alert-list-text h5{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #ADB5BD;
}
.alert-list-text strong {
    font-size: 12px;
 line-height: 14px;
 color: #ADB5BD;
}


.selectcustom {
    position: relative;
    width: 200px; /* Adjust width as needed */
  }
  
  .selectcustom select {
    width: 100%;
    padding-right: 30px; 
    box-sizing: border-box; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 16px;
    background-image: url(/assets/images/select-arrow.png);   
    background-position: calc(100% - 10px) center; 
    background-repeat: no-repeat;
    font-weight: 600;
    border: 1px solid #1565c0;
  }
  
  
  .selectcustom select:focus {
    outline: none; 
    border-color: #007bff; 
    background: none;
    color: #007bff;
    background-image: url(/assets/images/select-arrow.png); 
    background-position: calc(100% - 10px) center; 
    background-repeat: no-repeat;  
  }
.alert-scroll {
    height: 227px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* width */
.alert-scroll::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .alert-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .alert-scroll::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  .alert-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .card .card-block, .card .card-body {
    padding: 0px 10px !important;
  }

  .client-customer {
    border-radius: 16px !important;
    padding: 24px;
  }
  .customer-table {
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #D6D9DC;
  }
  .customer-table .table-responsive {
    border-radius: 8px;
  }
  .customer-table .table-responsive table thead tr th {
    background-color: #F4F5F5;
  }

  .shadow-scroll-x {
    overflow-x: auto;

    background-color: white;
    background-image: /* Shadows */ 
    linear-gradient(to right, white 0%, white 50%, rgba(255, 255, 255, 0) 100%), 
    linear-gradient(to left, white 0%, white 50%, rgba(255, 255, 255, 0) 100%), 
    
    /* Shadow covers */ 
    linear-gradient(to right, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), 
    linear-gradient(to left, rgba(0, 0, 0, .1) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;

    background-position: left center, right center, left center, right center;
    background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    -webkit-overflow-scrolling: touch;

    /* 
Progressive enhancement of scrollbar on webkit
Use media queries to only use on mobile */
    &::-webkit-scrollbar {
        height: 6px;
        background-color: white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #999;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }
}
    

.gatewaytable table thead tr th {
  background-color: #F4F5F5;
}


.client-flow-orange { width: 18px; height: 18px; background-color: #FFA400; border-radius: 100%;}
.client-flow-blue{background-color: #2196F3;}
.bg-blue1 { background-color: #E3F2FD !important;}
.bg-blue2 { background-color: #BBDEFB !important; color: #fff !important;}
.bg-blue3 { background-color: #1976D2 !important; color: #fff !important;}
.bg-blue4 { background-color: #0D47A1 !important; color: #fff !important;}
.bg-blue5 { background-color: #42A5F5 !important; color: #fff !important;}
.client-zone-table .table td, .client-zone-table .table th {
  padding: 0.5rem 0.75rem;
  border-top: 1px solid #fff;
}

.client-zone-table .table td { text-align: center;}

