/* Location.css */
.card {
    margin-bottom: 1.5rem;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: 600;
    color: #121212;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .card .d-flex div {
    flex: 1;
    text-align: center;
  }
  
  .card .d-flex div strong {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .custom-zones {
    width: 118px;
    height: 64px;
    padding-top: 8px;
    ;
    gap: 10px;
    border-radius:6px;
    opacity: 1; /* Assuming you want it to be visible */
    background-color: #f1f8fe;
    margin: 6px;
  }
  .custom-zones strong {font-size: 16px; font-weight: 700;}
  .custom-zones small { font-size: 12px;}
  .card-img-top { border-radius: 10px; margin-bottom: 8px;}
  .card { padding: 16px;}
  .card-body { padding: 0 !important;}
  