.days {
  border: none;
  box-shadow: none;
  background: none;
  padding: 8px;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
}

.days.active {
  font-weight: bold;
  /* color: #007bff; */
}

.days:hover {
  background: #f0f0f0;
}

.days svg {
  vertical-align: middle;
}

.days-date-picker {
  display: flex;
  padding: 8px !important;
  border-radius: 10px;
  background: #eaeaeb;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  position: relative;
}

.days-date-picker-outer-cls {
  display: flex;
  /* padding: 8px !important; */
  /* border-radius: 10px; */
  /* background: #eaeaeb; */
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  /* position: relative; */
}

.days-date-picker-inner-cls {
  padding: 8px !important;
  border-radius: 10px;
  background: #eaeaeb;
}

.days-date-picker button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.days-date-picker-outer-cls button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.date-picker {
  z-index: 100;
  position: absolute;
  border-radius: 10px;
  padding: none;
  /* top: 77px; */
  margin-top: 5px;
  right: -34px;
  top: 50px;
  padding: 2px;
  /* background: rgb(105, 105, 105); */
  border: 1px solid rgb(105, 105, 105);

}

.date-picker div {
  border-radius: 10px;
}

.days-filter {
  display: flex;
  flex-direction: row;
}

.css-z3c6am-MuiFormControl-root-MuiTextField-root {
  border-radius: 10px;
  background: white !important;
}

.seconde-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.dashheading {
  /* background-color: white; */
  padding: 0px 7px 10px 7px;
  border-radius: 8px;
}

/* 
.date-picker > div:nth-child(2) {
  display: none;
} */